.main__entry {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 50%;
  background-image: url("/assets/images/initial-section-bg.png");
  min-height: 100vh;
  padding: 1rem;

  .container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 3rem);
    align-items: center;
    justify-content: center;
    padding: 1rem;

    img {
        width: 100%;
        max-width: 300px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        margin-bottom: 2rem;
    }  

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: self-end;
      
      img {
        max-width: 444px;
        margin-bottom: 0;
      }
    }
  }

  .entry__header {
    text-align: center;
    margin-bottom: 2rem;
    color: #fff;

    .header__title  {
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    .header__subtitle  {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    @media (min-width: 768px) {
        text-align: left;
        margin-bottom: 3rem;

        .header__title {
            font-size: 2.4rem;
        }

        .header__subtitle {
            font-size: 1.6rem;
            margin-bottom: 2rem;
        }
    }
}


  .entry__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .entry__pills {
    margin-top: 1rem;
  }

  app-pill:last-child {
    margin-left: .5rem;
  }
}

.main__arguments {
  background-color: var(--color-light-yellow);
  padding: 1.5rem 0;
  min-height: 100vh;

  .arguments__header {
    text-align: center;
    padding: 0 1rem;

      .header__title {
        color: var(--color-brown);
        font-size: 2rem;
        font-weight: 500;
        font-family: "Staatliches", cursive;
        text-transform: uppercase;
        margin: 0;

        @media (min-width: 768px) {
          font-size: 3rem;
        }
    }

    .header__subtitle {
        font-weight: 400;
        margin: 0;
        color: var(--color-yellow);
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: "Staatliches", cursive;

        @media (min-width: 768px) {
          font-size: 2rem;
        }
    }
  } 

  .arguments__list {
    text-align: right;
  }

  .list__item {
    font-size: 1.4rem;
    color: var(--color-brown);
    list-style: none;
    font-weight: normal;
    display: inline-block;
    text-align: right;
    border-radius: 20px;
    padding: 1rem 2rem 1rem 7rem;
    background-image: linear-gradient(90deg, #FFF4E5 0%, #F9C885 100%);
    box-shadow: inset -2px -2px 1px rgba(#EEB260, 0.7);
    margin-bottom: 1rem;
    max-width: 80%
  }
}

.arguments__footer {
  text-align: center;

  .button__launch {
    width: 100%;
    text-align: center;
    max-width: 380px;
    display: inline-block;
  }
}

.main__chapters {
  padding: 2rem 1rem;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 768px) {
    padding: 4rem;
  }

  &:before {
    content: "";
    position: absolute;
    top: 280px;
    left: 0;
    width: 100%;
    height: 800px;
    background-image: url("/assets/images/release-section-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    @media (min-width: 768px) {
      top: 380px;
      height: 1200px;
    }
  }

   .chapters__header {
    text-align: center;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      margin-bottom: 3rem;
    }

    .header__title {
      color: var(--color-brown);
      font-size: 2rem;
      font-weight: 500;
      font-family: "Staatliches", cursive;
      text-transform: uppercase;
      margin: 0;

      @media (min-width: 768px) {
        font-size: 3rem;
      }
    }

    .header__subtitle {
      font-weight: 400;
      margin: 0;
      color: var(--color-yellow);
      font-size: 1.5rem;
      text-transform: uppercase;
      font-family: "Staatliches", cursive;

      @media (min-width: 768px) {
        font-size: 2rem;
      }
    }
  } 
}

.button__launch {
  border: 1px solid #63948E;
  background-image: linear-gradient(90deg, #b0cb9e 0%, #639791 100%);
  color: white;
  padding: 1rem 2rem;
  border-radius: 16px;
  text-decoration: none;
  border-color: #63948e;
  font-weight: 500;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  box-shadow:  4px 4px 10px rgba(0, 0, 0, 0.25);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  font-family: "Staatliches";
  letter-spacing: 1px;

  &:hover {
    background-color: #e65c50;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
}